$blue: rgb(24, 24, 146);
$orange: rgb(255, 136, 0, .95);
$red:rgb(216, 27, 27, 0.8);
$black: rgba(14, 14, 14, 0.9);


html { 
  background: url('../dist/squadBackground.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
}

#containers {
  display: flex;
  flex-direction: row;
}

#squad-container {
  position: relative;
  bottom: 10px;
  
  h1 { 
    color: $red;
  }
}

#draft-button {
  background: white;
  color: rgba(0, 0, 0, 0.877);
  border-radius: 4px;
  border-style: none;
  padding: 5px 11px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    background: rgba(0, 0, 0, 0.877);
    color: white;
  }
}


#draft-log-button {
  background-color: $red;
  border: none;
  color: white;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  font-family: Arial;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-shadow: none;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 10;

  &:hover {
    background-color: $orange;
  }
}

#explain-button {
  background: $red;
  margin-left: 14px;
  text-shadow: none;
  padding: 5px 11px;
  border-radius: 55%;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 9;
  visibility: hidden;

  &:hover {
    background-color: $orange;
  }
}

#more-info {
  background-color: rgba(0, 0, 0, 0.911);
  border: none;
  color: white;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  font-family: Arial;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-shadow: none;
  margin: 14px;

  &:hover {
    background: white;
    color: black;
  }
}


#header {
  position: relative;
  bottom: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

#form {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: $red;
  position: relative;
  bottom:88px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px;
  text-shadow: 1.5px 1px #000000;
  width: 100%;

  label {
    line-height: 25px;
  }
}


body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;

  h1 {
    color: $red;
  }

  h2 {
    color: $orange;
  }
}

.results {
  width: 800px !important;
}

#instructions, #draft-log, #player-details {
  position: relative;
  bottom: 30px;
  width: 700px;
  border: $red;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  text-align: center;
  color: white;
  background-color: rgb(14, 14, 14, 0.9);
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1.5px 1px #000000;
  margin: 0 auto;
  padding: 15px;
  box-shadow: black;
  list-style-type: none;

  li {
    padding: 5px;
  }
} 

.draft-log {
  display: none;
  width: 680px !important;
  height: 810px !important;
  overflow: auto;
  margin: 0px 20px !important;
}

.intro {
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}   


.player-details {
  display: none;
  margin: 0px 20px !important;
}

.player-info li {
  border: 0.1px solid rgba(83, 83, 83, 0.445);
}

#draft-log-results {
  div {
    border: solid 1px $red;
    padding: 10px 0px 10px 0px;
    border-radius: 6px;
  }
}

#user-team {
  color: $orange;
}

#disclaimer {
  color: rgb(167, 167, 167);
  font-size: 10px;

  a {
    color: rgb(167, 167, 167);
    transition: all 0.3s ease 0s;

    &:hover {
      color: $red;
    }
  }
}

.player-details {
  height: 810px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#draftView {
  color: white;
  list-style-type: none;
}

.instructionsList {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  list-style-type: none;
}

#player-image {
  width: 200px;
  height: auto;
}

.squad-row {
	display: flex;
  flex-direction: row;
  margin: 24px auto;
}   

#squad-1 {
  justify-content: space-between;

}

#squad-2 {
  justify-content: center;
}

#player {
  width: 300px;
  animation-name: fadeInLeft;
  animation-duration: 1s;

  h2 {
    margin: 4px;
  }
}

@keyframes fadeInLeft {
   0% {
      opacity: 0;
      transform: translateX(-33px);
   }

   100% {
      opacity: 1;
      transform: translateX(0);
   }
}   

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

footer img{
  display: block;
  position: relative;
  bottom: 20px;
  margin: 8px;
  height: 50px;
  padding: 2px;
  transition: all 0.3s ease 0s;
  filter: invert(0);
  
  &:hover {
    filter: invert(1);
    opacity: 1;
    background: black;
    border-radius: 7px;
  }
}

#email {
  filter: invert(1);

  &:hover {
    filter: invert(0);
    background: white;
  }
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

#modal-info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50vw;
  height: 96%;
  min-width: 62.2vw;
  transform: translate(-50%, -50%);
  background: #000000da;
  border-radius: 7px;
  border: 1px solid $red;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1.5px 1px #000000;

  p, li {
    color: white;
    list-style: none;
    margin: 10px;
  }

  p {
    line-height: 20px;
  }

  h2 {
    margin: 0px;
  }
}

#close-modal {
  position: fixed;
  color: white;
  top: 5px;
  right: 14px;
  font-weight: 100;
  font-size: 30px;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: $red;
  }
}

#snake-photo {
  width: 333px;
  margin: 10px;
}

#user-team-container {
  border-color: $red;
}

#other-team-container {
  border-color: grey !important;
}

#form-error {
  color: orange;
  display: none;
  margin: 0 auto;
  position: absolute;
  top: 67px;
  background-color: rgba(0, 0, 0, 0.699);
  padding: 3px 8px;
  border-radius: 4px;
}

#algorithm {
  border: solid 1px rgba(90, 90, 90, 0.733);
  border-radius: 5px;
  width: 600px;
  padding: 8px;
  margin: 17px auto;
}

#algo-header {
  color: $red !important;
  font-weight: 600;
}

#questions {
  margin-bottom: 20px;

  img {
    height: 40px;
    padding: 15px;
    width: auto;
    transition: all 0.3s ease 0s;

    &:hover {
      transform: scale(1.4);
    }
  }

  a {
    color:rgba(24, 24, 146, 0);
  }
}

#email-question {
  filter: invert(1);
}