@import "./styles/example.scss";

$blue: rgb(24, 24, 146);
$orange: rgb(255, 136, 0, .95);
$red:rgb(216, 27, 27, 0.8);
$black: rgba(14, 14, 14, 0.9);


html { 
  background: url('../dist/squadBackground.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
}


// https://wallpaperaccess.com/full/1744056.jpg
// // https://www.wallpaperup.com/uploads/wallpapers/2013/10/10/158384/028256269b11ff84514786aece1617b1.jpg
// #title {
//   color: white;
//   font-size: 50px;
//   position: relative;
//   bottom: 40px;
//   background-color: $orange;
//   padding: 20px;
//   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
//   text-align: center;
//   text-underline-offset: $black;
//   text-shadow: 6px 3px rgb(161, 65, 0);
// }

// #title {
//   background: url("../dist/squadTest.png");
//   bottom: 40px;
//   background-color: $orange;
//   padding: 20px;
//   position: relative;
//   width: 100px;
//   height:50px; 
//   color: #fff;
//   background-image: url(../images/header.jpg);
//   background-position: center;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   background-size: cover;
//   -o-background-size: cover;
// }

#header {
  position: relative;
  bottom: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

#form {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: $red;
  position: relative;
  bottom:88px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 12px;
  text-shadow: 1.5px 1px #000000;
  width: 100%;
}


body {
  overflow-x: hidden;
  margin: 0;
}



#instructions {
  position: relative;
  bottom: 30px;
  width: 700px;
  border: $red;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  text-align: center;
  color: white;
  background-color: rgb(14, 14, 14, 0.9);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1.5px 1px #000000;
  box-shadow: black;
  list-style-type: none;
}



#instructions > h1 {
  color: $red;
}

#instructions h2 {
  color: $orange;
}

#disclaimer {
  color: rgb(167, 167, 167);
  font-size: 10px;
}

#draftView {
  color: white;
  list-style-type: none;
}

.instructionsList {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  list-style-type: none;
}

// footer {
//   justify-content: center;
//   text-align: center;
//   height: 10px;
//   width: 10px;
// }

// footer {
//   bottom: 0px;
// }

footer img{
  display: block;
  position: relative;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

// #instructions > ul {
//   font-size: 15px;
//   color: white;
//   list-style-type: none;
// }

// #instructions > li {
//   font-size: 10px;
//   color: white;
//   list-style-type: none;
//   display: inline-block; 
// }

// /* Clear floats after the columns */
// .row:after {
//   content: "";
//   display: table;
//   clear: both;
// }

// /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
// @media screen and (max-width:600px) {
//   .column {
//     width: 100%;
//   }
// }